/* 
Hoja de estilo para Viajes Chile
Valericio Carrasco
*/

nav{
    background-color: #17A3B8;
}

.navbar-brand{
    font-family: "Oswald";
    font-weight: bold;
}

/* Quienes Somos*/

#quienesSomos {
    background-color: #000000;
}
  
#quienesSomos div h1{
    font-size: 52px;
    font-weight: bold;
    font-family: "Oswald";
  }

#quienesSomos div hr{
    background-color: #17A3B8;
    height: 1px;
    opacity: 1;
}
  
#quienesSomos h4{
    font-family: "Oswald";
}
  
.icon1{
    width: 100%;
    background-color: #17A3B8;
}

/* Destacame */

#destacados {
    background-color: #000000;
}

#destacados div h1{
    font-size: 52px;
    font-weight: bold;
    font-family: "Oswald";
}

#destacados div hr{
    background-color: #17A3B8;
    height: 1px;
    opacity: 1;
}

.card img{
  max-height: 174px;
  overflow: hidden;
}

/* Seccion Contacto */

#contacto {
    background-color: #000000;
}

#contacto div h1{
    font-size: 52px;
    font-weight: bold;
    font-family: "Oswald";
}
  
#contacto div hr{
    background-color: #17A3B8;
    height: 1px;
    opacity: 1;
}

/* Seccion Footer */
#footer {
    background-color: #17a3b8;
}
  
#footer h1{
    font-family: "Oswald";
}

@media only screen and (max-width: 991px){
  #quienesSomos{
    display: none;
  }
}